.orders-container{
    min-height: calc(100vh - 70px);
    
    .heading{
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .cart-item-container{
        width: 70%;

        @media screen and (max-width:992px) {
            width: 100%;
        }
    }

    .order-item{
        width: 100%;
        height: fit-content;
    
        .product-img{
            cursor: pointer;
            width: 100px;
            height: 120px;
            position: relative;
            padding: 10px;
            border: 0.5px solid #F4F4F6;
        
            @media screen and (max-width: 520px) {
                width: 80px;
                height: 100px;
            }
    
    
            img{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                max-width: 100%;
                max-height: 100%;
                transition: opacity .5s linear;
                opacity: 1;
                margin: auto;
                z-index: 0;
            }
        }
    
        .quantity-container{
            width: fit-content;
            border-radius: 7px;
            overflow: hidden;
            border: 1px solid #AAAAAA;
            margin-top: 10px;
    
    
            .quantity{
                width: 40px;
                font-size: 13px;
                text-align: center;
                padding: 0;
                border: none;
                height: 100%;
                background-color: transparent;
            }
    
            .change-quantity-btn{
                padding: 0;
                margin: 0;
                background-color: #06101E;
                padding: 0 5px 2.5px;
                border-radius: 0;
                height: fit-content;
                outline: none;
                border: none;
            }
        }
    
        .out-of-stock{
            color: red;
            font-weight: 600;
            font-size: 13px;
            margin-top: 5px;
        }
    
        .content{
            flex: 1;
            align-items:flex-end;
            overflow: hidden;
            height: 100%;
    

    
            .cancel-order {
                background-color: #fb1b1b;
                border: none;
                outline: none;
                color: white;
                font-size: 13px;
                font-weight: 600;
                padding: 5px 10px;
                text-transform: uppercase;
                border-radius: 3px;
    
                &:hover:enabled{
                    opacity: 1;
                }
    
                &:disabled{
                    background-color: gray;
                }
            }
    
            .view-btn{
                color: rgb(58, 148, 251);
                text-transform: uppercase;
                background-color: transparent;
                outline: none;
                border: none;
                font-weight: 600;
                font-size: 13px;
                margin-right: 20px;
            }
        }
    }
}